---
---

@import 'minima';
@import 'categories-page';
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.med {
  color: black;
}

body {
  font-family: Arial,Verdana,sans-serif;
}
.main {
  font-size:24pt;
  color:#888;
  line-height:140%;
  margin: 0;
}
.title {
  color:#000;
}
a {
  color: #336699;
}
a:visited {
  color: #551a8b;
}

.two-column {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  // -webkit-flex-direction: row;
  // flex-direction: row;
}
.two-column_col {
  width: calc(50% - 1rem - 2px);
  padding: 1rem;
  margin: 0 0.5rem 1rem;
  border: 1px solid #e8e8e8;
}
@media screen and (max-width: 800px) {
  .two-column {
    display: block;
  }
  .two-column_col {
    display: block;
    width: 100%;
    margin: 0 0 1rem;
    padding: 1rem;
    border: 1px solid #e8e8e8;
  }
}
