.post-navigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;

  a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
  }

  .next {
    text-align: right;
  }
}
